<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>datomic</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/usr/local/var/datomic/active/bin/transactor</string>
        <string>-Ddatomic.printConnectionInfo=true</string>
        <string>/usr/local/var/datomic/transactor.properties</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>